body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
.todo-header{
color: #786032  ;
}

.todo-input{
    width: 250px;
    height: 40px;
    background-color:  #867;;
    color: bisque;
}

.input-button{
    width: 90px;
    height: 40px;
    background-color: bisque;
    color: #867;
}